gunicorn
Django
Jinja2
Werkzeug
dj_database_url
whitenoise
djangorestframework 
coreapi
Markdown
Pygments
django-filter
django-guardian
django-cors-headers
# psycopg2-binary>=2.8

# Django>=2.0,<3.0
# dj-database-url==0.5.0
# gunicorn==19.9.0